@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style type="text/css">

    .bio-image {
        border-radius: 11px;
        background-color: #eee;
        /*padding: 1em;*/
        display: inline-block;
        width: 150px;
        height: 150px;
        background-size: 150px;
        cursor: pointer;
        /*border: 5px solid #666;*/
        /*box-shadow: 5px 5px 5px #666;*/
        transition: width 1s, height 1s, background-size 1s;
    }

        .bio-image:hover {
            /*animation-name: manager-grow;
            animation-duration: 1s;
            animation-timing-function: ease-out;*/
            width: 200px;
            height: 200px;
            background-size: 200px;
        }

    .manager-section {
        flex-grow: 1;
        text-align: center;
        max-width: 50%;
        /*width:50%;
        text-align:center;
        display:inline-block;*/
    }

    .manager-manager {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 75%;
    }

    .pros-cons {
        
        margin-top:2px;
        text-align: left;
        width: 300px;
        background-color: white;
        position: relative;
        border-radius: 11px;
        padding: 5px;
        
        border: 3px solid #b80000;
    }
        .pros-cons::after {
            content: " ";
            position: absolute;
            bottom: 101%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #b80000 transparent;
        }

        .pros-cons-header{
            font-family: 'miraculouschristmasregular'; 
            font-size: 25px;
        }

    .bio-stacked {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
</style>

<script>

    function Vote(id) {
        debugger;
        $.get("/Index/?handler=Vote&id=" + id, function () {
            window.location = "/Results";
        });
    }

</script>

<h1 style="font-family:'miraculouschristmasregular'; color:#b80000; font-size:80px;">Manager of the year</h1>
<div class="manager-manager">

    <div class="manager-section">

        <div class="bio-stacked">
            <div class="bio-image" style="background-image:url('../images/DavidButt.png')" onclick="Vote(1)">

            </div>
            <div class="pros-cons">
                <span class="pros-cons-header">Pros:</span>
                <ul>
                    <li>Keeps G1 company on Fridays</li>
                    <li>Super chill</li>
                </ul>

                <span class="pros-cons-header">Cons:</span>
                <ul>
                    <li>Keeps G1 company on Fridays (can't leave until he does)</li>
                    <li>Never brings breakfast</li>
                </ul>

            </div>

        </div>


    </div>
    <div class="manager-section">

        <div class="bio-stacked">
            <div class="bio-image" style="background-image: url('../images/tommyelf.png')" onclick="Vote(2)">

            </div>

            <div class="pros-cons">
                <span class="pros-cons-header">Pros:</span>
                <ul>
                    <li>Brought Chick-fil-a 3 weeks in a row</li>
                    <li>Spikey hair...if you're into that</li>
                </ul>

                <span class="pros-cons-header">Cons:</span>
                <ul>
                    <li>Hates Christmas lights</li>
                    <li>Hasn't brought Chick-fil-a in a few weeks</li>
                </ul>

            </div>

        </div>

    </div>

</div>